<h2>Reset Password</h2>

<h3>Password Rules:</h3>
<ul>
  <li {{bind-attr class=containsNumber:met}}>At least one number.</li>
  <li {{bind-attr class=containsUppercase:met}}>At least one uppercase letter.</li>
  <li {{bind-attr class=isRightLength:met}}>Must be at least 10 characters.</li>
</ul>

<form method="post" action="">
  <label for="password1">New Password {{input type="password" id="password1" name="password1" value=password1}}</label>

  <label for="password2">Reenter New Password {{input type="password" id="password2" name="password2" value=password2}}</label>

  <button {{bind-attr disabled=isNotValid}} {{action "resetPassword"}}>Reset Password</button>
</form>
