<h3>Select Delivery Method</h3>

<form action="" method="post">
  <ul class="plain-list">
  {{#radiogroup name="register" value=deliveryMethodId}}
    {{#each itemController="one-time-password/delivery-method"}}
      <li><label {{bind-attr for=htmlid}}>{{radio id=htmlid value=id}} {{type}} - {{value}}</label></li>
    {{/each}}
  {{/radiogroup}}
  </ul>
  <button {{action "selectDeliveryMethod"}}>Submit</button>
</form>
